.app {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.header {
  height: 60px;
  display: flex;
}
.body {
  flex: 1;
  display: flex;
}
.child {
  flex: 1;
  overflow: auto;
}
/* .nav {} */
.footer {
  height: 40px;
  text-align: center;
}

.link {
  color: red;
}
.linkActive {
  color: green;
}
